<pre class="mdl-code">{**
 *
 * The classes are named using the format .font-{size} for all breakpoints.
 *
 * Where size is one of:
 *
 *    xx-large - (by default) 48px
 *    x-large - (by default) 38px
 *    large - (by default) 24px
 *    medium - (by default) 20px
 *    normal - (by default) 16px
 *    small - (by default) 12px
 *
 * font-size in html element is 62,5% = 10px by default;
 *
 * Sizes values could be redefine by $font-sizes variable in variables.scss.
 *
 *}</pre>

<br>

<span class="font-small">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>

<hr>

<span class="font-normal">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>

<hr>

<span class="font-medium">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>

<hr>

<span class="font-large">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>

<hr>

<span class="font-x-large">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>

<hr>

<span class="font-xx-large">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>