<pre class="mdl-code">{**
 *
 * The classes are named using the format .line-height-{size} for all breakpoints.
 *
 * Where size is one of:
 *
 *    large - (by default) 1.8
 *    normal - (by default) 1.6
 *    medium - (by default) 1.4
 *    small - (by default) 1.2
 *
 * Sizes values could be redefine or add by $line-heights variable in variables.scss.
 *
 *}</pre>

<p class="line-height-large">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a magna leo.
	Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, erat sit amet
	semper tempor, tellus ante pharetra lectus, vitae vestibulum magna augue eget lorem.
</p>
<hr>
<p class="line-height-normal">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a magna leo.
	Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, erat sit amet
	semper tempor, tellus ante pharetra lectus, vitae vestibulum magna augue eget lorem.
</p>
<hr>
<p class="line-height-medium">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a magna leo.
	Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, erat sit amet
	semper tempor, tellus ante pharetra lectus, vitae vestibulum magna augue eget lorem.
</p>
<hr>
<p class="line-height-small">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a magna leo.
	Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis luctus, erat sit amet
	semper tempor, tellus ante pharetra lectus, vitae vestibulum magna augue eget lorem.
</p>