<p><strong>Overview</strong></p>

<p>These utility classes float an element to the left or right, or disable floating, based on the current viewport size using the <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/float">CSS <code>float</code> property</a>. <code>!important</code> is included to avoid specificity issues. These use the same viewport breakpoints as our grid system. Please be aware float utilities have no affect on flex items.</p>

<p><strong>Classes</strong></p>

<p>Toggle a float with a class:</p>

<div class="mdl-example">
    <div class="container">
        <div class="float-left">Float left on all viewport sizes</div><br>
        <div class="float-right">Float right on all viewport sizes</div><br>
        <div class="float-none">Don't float on all viewport sizes</div>
    </div>
    <pre>
&lt;div class="float-left">Float left on all viewport sizes&lt;/div>&lt;br>
&lt;div class="float-right">Float right on all viewport sizes&lt;/div>&lt;br>
&lt;div class="float-none">Don't float on all viewport sizes&lt;/div>
    </pre>
</div>

<p><strong>Mixins</strong></p>

<p>Or by Sass mixin:</p>

<pre class="mdl-code">
.element {
    @include float-left;
    }
.another-element {
    @include float-right;
    }
.one-more {
    @include float-none;
    }
</pre>

<p><strong>Responsive</strong></p>

<p>Responsive variations also exist for each <code>float</code> value.</p>

<div class="mdl-example">
    <div class="container">
        <div class="float-sm-left">Float left on viewports sized SM (small) or wider</div><br>
        <div class="float-md-left">Float left on viewports sized MD (medium) or wider</div><br>
        <div class="float-lg-left">Float left on viewports sized LG (large) or wider</div><br>
        <div class="float-xl-left">Float left on viewports sized XL (extra-large) or wider</div><br>
    </div>
    <pre>
&lt;div class="float-sm-left">Float left on viewports sized SM (small) or wider&lt;/div>&lt;br>
&lt;div class="float-md-left">Float left on viewports sized MD (medium) or wider&lt;/div>&lt;br>
&lt;div class="float-lg-left">Float left on viewports sized LG (large) or wider&lt;/div>&lt;br>
&lt;div class="float-xl-left">Float left on viewports sized XL (extra-large) or wider&lt;/div>&lt;br>
    </pre>
</div>

<p>Here are all the support classes;</p>

<ul>
    <li><code>.float-left</code></li>
    <li><code>.float-right</code></li>
    <li><code>.float-none</code></li>
    <li><code>.float-sm-left</code></li>
    <li><code>.float-sm-right</code></li>
    <li><code>.float-sm-none</code></li>
    <li><code>.float-md-left</code></li>
    <li><code>.float-md-right</code></li>
    <li><code>.float-md-none</code></li>
    <li><code>.float-lg-left</code></li>
    <li><code>.float-lg-right</code></li>
    <li><code>.float-lg-none</code></li>
    <li><code>.float-xl-left</code></li>
    <li><code>.float-xl-right</code></li>
    <li><code>.float-xl-none</code></li>
</ul>