<p><strong>Screenreaders</strong></p>

<p>Use screenreader utilities to hide elements on all devices except screen readers.</p>

<p>Hide an element to all devices <strong>except screen readers</strong> with <strong>.sr-only</strong>. Combine <strong>.sr-only</strong> with <strong>.sr-only-focusable</strong> to show the element again when it’s focused (e.g. by a keyboard-only user). Can also be used as mixins.</p>

<pre class="mdl-code">
&lt;a class="sr-only sr-only-focusable" href="#content">Skip to main content&lt;/a>
</pre>
<pre class="mdl-code">
// Usage as a mixin
.skip-navigation {
    @include sr-only;
    @include sr-only-focusable;
}
</pre>

