@mixin font-family($name, $weight: '') {
    $font: '';
    $family: '';

    @if map-has-key($font-families, $name) {
        $font: map-get($font-families, $name);
        $family: nth($font, 1);
    } @else {
        @each $each-name, $each-font in $font-families {
            @if type-of($name) == 'string' and str-index(nth($each-font, 1), $name) {
                $name: $each-name;
                $font: $each-font;
                $family: nth($each-font, 1);
            }
        }
    }
    
    @if (str-index($family, ',')) {
        font-family: #{str-slice($family, str-index($family,  ',') + 1)};

        .wf-active & {
            font-family: #{$family};
        }
    } @else {
        font-family: #{$family};
    }

    @if $weight != '' {
        $weights: nth($font, 2);
        @if type-of($weights)  == 'map' {
            @each $property, $number in $weights {
                @if (type-of($weight) == 'number' and $weight == $number) or $weight == $property {
                    font-weight: $number;
                }
            }
        }
    }
}