@mixin font-size($name) {
    $size: map-get($font-sizes, $name);
    
    @if type-of($size) == map {
        @if map-get($size, min) and map-get($size, max) {
            $min: map-get($size, min);
            $max: map-get($size, max);
            $start: if(map-get($size, start), map-get($size, start), $start-calc-size);
            $end: if(map-get($size, end), map-get($size, end), $end-calc-size);
            @include calc-size(font-size, $min, $max, $start, $end);
        }
    } @else {
        font-size: $size;
    }
}