@mixin icon() {
    @if map-has-key($font-families, 'icons') {
        $font: map-get($font-families, 'icons');
        $family: nth($font, 1);

        /* Better Font Rendering =========== */
        -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
        -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes

        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: #{$family} !important; // sass-lint:disable-line no-important
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        speak: none;
        text-transform: none;
        vertical-align: middle;
        word-break: normal;
    }
}