@mixin intersection($default: '', $intersecting: '', $selector: '') {
    .io-active & {

        &#{$selector} {
            @if type-of($default) == map {
                @each $property, $value in $default {
                    #{$property}: $value;
                }
            }
        }

        @if type-of($intersecting) == map {
            &.io-in-view#{$selector} {
                @each $property, $value in $intersecting {
                    #{$property}: $value;
                }
            }
        }
    }
}