@function emCalc($pixels, $context) {
    @if $pixels == 0 or $pixels == auto {
        @return $pixels;
    } @else if type-of($pixels) == number and unit($pixels) == '%' {
        @return strip-unit($pixels) / 100 * 1em;
    } @else {
        @return $pixels / $context * 1em;
    }
}

@function em($pixels, $context: normal) {
    $returnMultiValue: null;

    @if type-of($context) != number {
        $context: map-get($font-sizes, $context);

        @if type-of($context) == map {
            $context: map-get($context, max);
        }

        @if unitless($context) {
            $context: $context * 1px;
        }
    }

    @if length($pixels) > 1 {
        @each $pixel in $pixels {
            $returnMultiValue: append($returnMultiValue, emCalc($pixel, $context));
        }

        @return $returnMultiValue;
    } @else {
        @return emCalc($pixels, $context);
    }
}