html {

    &:before {
        $length: length($grid-breakpoints);
        $keys: map-keys($grid-breakpoints);

        @if $length > 1 {
            $breakpoints-content: '{"';

            @each $name, $value in $grid-breakpoints {
                $next: breakpoint-next($name, $grid-breakpoints);
                $value: breakpoint-min($name);

                @if $value {
                    $breakpoints-content: str-insert($breakpoints-content, $name + '" : "(min-width: ' + $value + ')', -1);
                }

                @if $next {
                    $sep: if($value, ' and ', $name + '" : "');
                    $breakpoints-content: str-insert($breakpoints-content, $sep + '(max-width: ' + (breakpoint-min($next) - .001em) + ')", "', -1);
                } @else {
                    $breakpoints-content: str-insert($breakpoints-content, '"', -1);
                }
            }

            @if variable-exists(menu-breakpoint) {
                $breakpoints-content: str-insert($breakpoints-content, ', "menu" : "(min-width: ' + breakpoint-min($menu-breakpoint) + ')"', -1);
            }

            $breakpoints-content: str-insert($breakpoints-content, '}', -1);

            content: $breakpoints-content;
            display: none;
        }
    }
}