<div class="m-buttons">
	<div class="bg-red" style="color: #ffffff; display: inline-block; font-size: 16px; line-height: 150px; text-align: center; width: 150px;">.bg-red</div>

	<div class="bg-green" style="color: #ffffff; display: inline-block; font-size: 16px; line-height: 150px; text-align: center; width: 150px;">.bg-green</div>

	<div class="bg-orange" style="color: #ffffff; display: inline-block; font-size: 16px; line-height: 150px; text-align: center; width: 150px;">.bg-orange</div>

	<div class="bg-black" style="color: #ffffff; display: inline-block; font-size: 16px; line-height: 150px; text-align: center; width: 150px;">.bg-black</div>

	<div class="bg-gray-dark-extra" style="color: #ffffff; display: inline-block; font-size: 16px; line-height: 150px; text-align: center; width: 150px;">.bg-gray-dark-extra</div>

	<div class="bg-gray-dark" style="color: #ffffff; display: inline-block; font-size: 16px; line-height: 150px; text-align: center; width: 150px;">.bg-gray-dark</div>

	<div class="bg-gray" style="color: #ffffff; display: inline-block; font-size: 16px; line-height: 150px; text-align: center; width: 150px;">.bg-gray</div>

	<div class="bg-gray-light" style="color: #000000; display: inline-block; font-size: 16px; line-height: 150px; text-align: center; width: 150px;">.bg-gray-light</div>

	<div class="bg-white" style="border: 1px solid gray; color: #000000; display: inline-block; font-size: 16px; line-height: 150px; text-align: center; width: 150px;">bg-white</div>
</div>