@at-root {
    // sass-lint:disable no-vendor-prefixes
    @-ms-viewport {
        width: device-width;
    }
    // sass-lint:enable no-vendor-prefixes
}

html,
body {
    height: 100%;

    &.no-scroll {
        overflow: hidden;
    }
}

html {
    -ms-overflow-style: scrollbar; // sass-lint:disable-line no-vendor-prefixes
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &.wf-loading * {
        color: transparent !important; // sass-lint:disable-line no-important
    }
}

body {
    @include font-family(first);
    @include font-size(normal);
    color: color('gray-black');
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: line-height(normal);

    &.js-focus-visible {

        :focus {

            &:not(.focus-visible) {
                outline: none;
            }
        }
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
.h1 {
    @include font-family(first, bold);
    @include font-size(xx-large);
    color: color('black');
    line-height: line-height(medium);
    margin: em(30px, xx-large) 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

h2,
.h2 {
    @include font-family(first, bold);
    @include font-size(x-large);
    color: color('gray-dark');
    line-height: line-height(normal);
    margin: em(30px, x-large) 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

h3,
.h3 {
    @include font-family(first, bold);
    @include font-size(large);
    color: color('gray-dark');
    line-height: line-height(normal);
    margin: em(20px, large) 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @include font-family(first, bold);
    @include font-size(medium);
    color: color('gray-dark');
    line-height: line-height(large);
    margin: em(100% 0);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

p,
ul,
ol,
table,
blockquote {
    margin-bottom: space(2);
    margin-top: space(2);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

hr {
    background: color('gray');
    border: 0;
    height: 1px;
    margin: space(2) 0;
}

img {
    height: auto;
    max-width: 100%;
}

ol,
ul {
    margin-left: 0;
    padding: 0;

    > li > #{&} {
        margin: space(1) 0 0 space(2);
    }

    > li {

        + li {
            margin-top: space(1);
        }
    }
}

ol {
    counter-reset: ol;
    list-style: none;

    > li {

        &:before {
            content: counter(ol) ") ";
            counter-increment: ol;
            display: inline-block;
            height: auto;
            padding-right: em(10px);
            text-align: left;
            top: 0;
            width: em(26px);
        }
    }
}

ul {
    list-style-position: inside;
    list-style-type: disc;
}


a {
    @include text-underline(underline, none);
    color: color('gray-dark');

    &:hover {
        color: color('gray-dark-extra');
    }

    &[href^="mailto:"] {
        word-break: break-all;
    }
}

table {

    &:not(.reset) {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

        th {
            background: color('gray-dark-extra');
            color: color('white');
            line-height: line-height(normal);
            text-align: left;
        }

        th,
        td {
            border: 0;
            padding: space(2);
            vertical-align: middle;
        }

        tr {

            &:nth-child(odd) {
                background: color('gray');
            }

            &:nth-child(even) {
                background: color('white');
            }
        }

        thead + tbody {

            tr {

                &:nth-child(odd) {
                    background: color('white');
                }

                &:nth-child(even) {
                    background: color('gray');
                }
            }
        }
    }
}