.font {
    @each $name, $family in $font-families {
        &-#{$name} {
            @include font-family($name);
            
            $weights: nth($family, 2);
            
            @if type-of($weights) == 'map' {
                @each $weight, $number in $weights {
                    &-#{$weight} {
                        @include font-family($name, $number);
                    }
                }
            }
        }
    }
}