/*!
 * Bootstrap Utilities v4.0.0-beta.3 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$positions: static, relative, absolute, fixed, sticky !default;
$displays: none, inline, inline-block, block, flex, inline-flex !default;
$embed-responsive-aspect-ratios: (
    (16 9),
    (4 3)
) !default;

@import "bootstrap/scss/utilities/align";
@import "bootstrap/scss/utilities/display";
@import "bootstrap/scss/utilities/embed";
@import "bootstrap/scss/mixins/float";
@import "bootstrap/scss/utilities/float";
@import "bootstrap/scss/utilities/position";
@import "bootstrap/scss/mixins/screen-reader";
@import "bootstrap/scss/utilities/screenreaders";
@import "bootstrap/scss/utilities/sizing";
@import "bootstrap/scss/utilities/spacing";
